<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="static/css/index.css">
    <script src="../static/js/index.js" defer></script>
    <script src="static/js/index.js" defer></script>
    <title>Document</title>
</head>
<body>
    
    <div class="header">
        <h1 class="title">Tic-tac-toe</h1>
        <p class="subtitle">Play with two devices</p>
    </div>

    <div class="content">
        <div id="table">
            <div id="sq1" onclick="change()" ></div>
            <div id="sq2" onclick="change()" ></div>
            <div id="sq3" onclick="change()" ></div>
            <div id="sq4" onclick="change()" ></div>
            <div id="sq5" onclick="change()" ></div>
            <div id="sq6" onclick="change()" ></div>
            <div id="sq7" onclick="change()" ></div>
            <div id="sq8" onclick="change()" ></div>
            <div id="sq9" onclick="change()" ></div>
        </div>
    </div>

    <script>
        player = "{{player}}"
    </script>

</body>

</html>